{% extends "auctions/layout.html" %}

{% block body %}
<h2> Categories </h2>
<div class="category_grid">
    {% for category in categories %}
    <a href="{% url 'category_listing' category=category|lower %}" cursor="pointer" class="card">
        <div>
            <div class="details">
                    <h5 style="text-align: center; padding: 10px"> {{ category.title }} </h5>
            </div>
        </div>
    </a>
    {% empty %}
</div>
<br />
<h6> There are currently no categories available</h6>
{% endfor %}

{% endblock %}